# .gitignore

# Data files — too large and license restricted
data/raw/
data/shapefiles/
*.shp
*.dbf
*.shx
*.prj
*.cpg
*.gpkg
*.csv

# Keep processed outputs
!outputs/*.png

# QGIS temp files
*.qgz~
*.qgs~

# R temp files
.Rhistory
.RData
.Rproj.user/

# OS files
.DS_Store
Thumbs.db